/* Import custom font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* Custom CSS */

body {
    font-family: 'Inter', sans-serif;
    background: #f5f4f8;
}

.logo {
    color: #ff5805;
}

.form-control::placeholder {
    color: #ccc;
    font-size: 0.9rem;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
    width: 3%;
}

.navbar-brand {
    font-weight: bold;
}

.avatar {
    width: 2.5rem;
    border: 2px solid #19cb98;
}

.avatar-toggle {
    cursor: pointer;
}

.bg-light-grey {
    background: #eee;
}

.notif {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.bg-hero {
    background: linear-gradient(#ff5805, orange);
}

.bg-green {
    background: #19cb98;
}

.sub-items {
    width: 3rem;
    height: 3rem;
}

.text-dark-grey {
    color: #444;
}

.bg-beige {
    background: #ffeeda;
}

.text-brown {
    color: #c28135;
}

.card-title a {
    text-decoration: none;
    color: #444;
}

.fs-small {
    font-size: 0.75rem;
}

.text-light-grey {
    color: #666;
}

.text-lighter-grey {
    color: #999;
}

.footer-links a {
    color: #666;
    text-decoration: none;
    margin-left: 1rem;
}

.footer-links a:hover, .text-orange {
    color: #ff5805;
}

.fs-btn {
    font-size: 0.85rem;
}

/* clears the 'x' in the search input */

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.border-grey {
    border-color: lightgrey;
}

/* Hide notifications dropdown arrow and underline */

a.notifdd.dropdown-toggle::after {
    display: none !important;
}

a.notifdd {
    text-decoration: none;
}

/* For smaller devices */

@media (max-width: 576px) {
    .searchform {
        margin-left: 0 !important;
    }
    .navbar-brand span {
        display: none;
    }
    .navbar-brand i {
        font-size: 2rem;
    }
    .nav-icons {
        margin-right: 4.5rem;
    }
    .three-col-items .col-sm {
        margin: 0.75rem 0;
    }
    .featured-courses {
        padding: 0 2rem;
    }
    .featured-courses .card {
        margin-bottom: 2rem;
    }
    .footer-links, .footer-copyright {
        float: none !important;
        width: 100%;
        text-align: center;
        clear: both;
    }
    .footer-links {
        margin-top: 0.5rem;
    }
    .footer-links a {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}